.featuredArticles {
  margin-bottom: 2rem;
}

.carouselItem {
  padding: 10px;
}

.slick-prev:before,
.slick-next:before {
  color: #333; /* Couleur des flèches */
}

.slick-dots li button:before {
  color: #333; /* Couleur des points */
}

.allMaterials {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Grille avec quatre colonnes */
  gap: 1rem;
}

.allMaterials li {
  list-style-type: none;
}

.title {
  font-size: 2rem;
  color: #333;
  text-align: left;
  margin: 20px 0;
  padding-top: 50px;
  padding-bottom: 20px;
  padding-left: 10px;
}

.brandPartners {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 4rem;
  padding: 5px;
}

.brandImage {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
  border-radius: 8px;
  /* background-color: #f0f0f0; */
  padding: 10px;
}
